.list-plans {
  padding: 40px;
  display: flex;
  background-color: rgb(248, 249, 250);
  flex-direction: column;
  height: 93%;
  .plans-container {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    width: 1000px;
    align-self: center;
    gap: 10px;
    margin-top: 50px;
    .card-container {
      display: flex;
      flex-direction: column;
      .plan-card {
        display: flex;
        align-items: center;
        text-align: center;
        width: 250px;
        margin-right: 10px;
        --bs-card-cap-bg: none;
        padding: 20px 0;
        margin-bottom: 20px;
        .card-header {
          .plan-image {
            width: 50px;
          }
        }
        .card-body {
          width: 70%;
          .price {
            font-weight: 400;
            font-size: 25px;
            margin-bottom: 2px;
          }
          .small-description, .duration {
            font-weight: 300;
          }
          .duration{
            font-size: 18px;
          }
        }
        .card-header,
        .card-footer {
          border: 0;
        }
      }
      .full-characteristics {
        .fa-check::before {
          color: #00cc66;
        }
      }
    }
  }
}
