<div class="d-flex flex-column flex-shrink-0 p-3 shadow-sm sidebar">
  <a
    href="/"
    class="d-flex align-items-center justify-content-center mb-3 mb-md-0 link-dark text-decoration-none"
  >
    <span class="fs-4">TaskTaker</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <%= link_to plans_path, class: "nav-link active", id: "plans" do %>
        <i class="fa-regular fa-clock me-2"></i>Home
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to boards_path, class: "nav-link link-dark", id: "boards" do %>
        <i class="fa-solid fa-suitcase me-2"></i>Projects
      <% end %>
    </li>
  </ul>
  <hr />
</div>
